@import "tailwindcss";


:root {
  font-weight: 400;
}



@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn .2s ease-out forwards;
}

.animate-zoomIn {
  animation: zoomIn .2s ease-out forwards;
}

.user-Image-container {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.nav-text {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  /* border: 1px solid green; */
}
.nav-text p {
  font-size: 0.9rem;
}

.user-Image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.user-Image-container .profile {
  width: 15rem;
  display: none;
  position: absolute;
  top: 52px;
  right: 0rem;
  background-color: white;
  border: 1px solid #ccc;
  padding: 1rem;
  z-index: 1;
  border-radius: 0.3rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.user-Image-container .profile .menu_list {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.user-Image-container .profile li {
  display: flex;
  gap: 0.8rem;
  list-style: none;
  align-items: center;
}

.user-Image-container .profile.open {
  /* Style for the open state */
  display: block;
}

.user-Image-container .profile p,
a {
  cursor: pointer;
}

::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  background: #dfdede;
  /* background: transparent; */
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: gray;
  border-radius: 5px;
}
::-webkit-scrollbar {
  /* width: 3px; */
  display: none;
}

