@import "tailwindcss";

:root {
  font-weight: 400;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn .2s ease-out forwards;
}

.animate-zoomIn {
  animation: zoomIn .2s ease-out forwards;
}
